<form action="{% url 'agenda:cita' paciente.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Agendar cita</h1></legend>
    <p>Nombre paciente: {{ paciente.nombre }} {{ paciente.apellido }}</p>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <!-- prettier-ignore -->
    {% for cita in paciente.cita_set.all %}
    <input
      type="type"
      name="cita"
      id="cita{{ forloop.counter }}"
      value="{{ cita.id }}"
    />
    <label for="cita{{ forloop.counter }}">{{ cita.doctor }}</label><br />
    {% endfor %}
  </fieldset>
  <input type="submit" value="Vote" />
</form>
