{% extends "html/base.html" %}

<!-- prettier-ignore -->

{% load django_bootstrap5 %}

{% block title %}{{ table_config.title }}{% endblock title %}
<!-- prettier-ignore -->
{% block header %}
{% include "html/layouts/navbar.html" %}
{% endblock header %}


{% block main %}
<h1 class="py-4 text-center">{{ table_config.title }}</h1>
<!-- prettier-ignore -->
{% include "html/components/table.html" with table_config=table_config %} 
{% endblock main %}

<!-- prettier-ignore -->
{% block footer %} 
{% include "html/layouts/footer.html" %}
{% endblock footer %}
